html {
  font-family: 'Open Sans', cursive;
  color: rgb(255, 255, 255);
  size: 15px;
  background-color: #00539F;

}
body{
  width: 100;
 
}

h1 {
  font-size: 50px;
  text-align: center;
}

p, li {
  font-size: 15px;
  line-height: 2;
  letter-spacing: 1px;

}
